<!-- This is for /all page edits-->

{{ partial "header" . }}

<div class="my-5 container">
    <h1>All Lessons</h1>

    <!-- This block contains the filter and list of items -->
    <div class="lesson my-5 container">
        <div class="input-group mb-3">
            <input id="search-filter" onkeyup="filterGridItems()" type="text" class="form-control" placeholder="Search Lesson" aria-label="Search" />
        </div>

        <div class="lesson-nav-container">

            <!-- 
                This is the top level category navigation

                The onclick="filterCategory('category')" where category is a category set in the data
            -->
            <ul class="lesson-nav lesson-nav-category">
                <li class="filter-category-all"><a href="#" onclick="filterCategory('all')">All</a></li>
                <li class="filter-category-painting"><a href="#" onclick="filterCategory('painting')">Painting</a></li>
                <li class="filter-category-drawing"><a href="#" onclick="filterCategory('drawing')">Drawing</a></li>
                <li class="filter-category-tactile"><a href="#" onclick="filterCategory('tactile')">Tactile</a></li>
            </ul>

            <!-- 
                This is the suggested items list 

                The class in the li tag determines what group that item would be associated in. 
                Ie. Have the filter-tag-painting to have it suggested when filtering by Painting category.
                Hide it by default

                The onclick="filterGridItemsByTag('tag')""
                Where tag is one of the available tag set in content data
            -->
            <ul class="lesson-nav lesson-nav-tags">
                <li class="filter-tag-painting hide"><a href="#" onclick="filterGridItemsByTag('acrylics')">Acrylics</a></li>
                <li class="filter-tag-painting hide"><a href="#" onclick="filterGridItemsByTag('watercolor')">Watercolor</a></li>
                <li class="filter-tag-drawing hide"><a href="#" onclick="filterGridItemsByTag('marker')">Marker</a></li>
                <li class="filter-tag-drawing hide"><a href="#" onclick="filterGridItemsByTag('pencil')">Pencil</a></li>
                <li class="filter-tag-tactile hide"><a href="#" onclick="filterGridItemsByTag('clay')">Clay</a></li>
            </ul>

        </div>
        

        <ul class="lesson-grid">
            {{ range .Site.Sections }}
                {{ range .Pages }}
                    {{ partial "item" . }}
                {{ end }}
            {{ end }}
        </ul>

    </div>
    
</div>

{{ partial "footer" . }}